<div style="text-align: center; color:black; font-weight:none; margin-bottom: 20px;">
    The application is working but cannot save media to device , because Vercel's serverless environment lacks the necessary <b>ffmpeg</b> binary to process and convert video files. Additionally, Vercel's read-only file system prevents  app from saving downloaded files.
</div>
<div>
<h1 style="text-align: center; font-weight: bold; color: #333;">Supported Platforms</h1>
<p style="text-align: center; color: #555;">Download media from a wide range of platforms including : 
YouTube, Facebook, Instagram, Twitter, TikTok, LinkedIn, Pinterest, Reddit, Snapchat, Tumblr, WeChat, WhatsApp, Telegram, Vimeo, Dailymotion, Pornhub, Bilibili and many more than 1000+ including 18+ website.
</p></div> 
