{% extends "base.html" %}

{% block title %}About UMD{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="display-5 fw-bold">About UMD</h1>
    <p class="lead text-muted mb-4">The story behind the Universal Downloader.</p>
</div>
<div class="row justify-content-center">
    <div class="col-lg-8">
        <p>This is a placeholder page for the "About" section. UMD is an all-in-one video downloading solution that offers a comprehensive alternative to individual video downloaders.</p>
        <p>With UMD, users can easily download thousands of videos and audio from various social media platforms for free and without limitations. The simple interface of UMD makes it easy for users to download their favorite videos with just a few clicks.</p>
    </div>
</div>
{% endblock %}